{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block body %}


    <h1>Locations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.country }}</td>
                <td>
                    <a href="{{ path('app_location_show', {'id': location.id}) }}">Show</a>
                    {% if is_granted('ROLE_LOCATION_EDIT') %}
                        <a href="{{ path('app_location_edit', {'id': location.id}) }}">Edit</a>
                    {% endif %}
                    {% if is_granted('ROLE_LOCATION_DELETE') %}
                        <form method="post" action="{{ path('app_location_delete', {'id': location.id}) }}" style="display:inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ location.id) }}">
                            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_LOCATION_NEW') %}
        <a href="{{ path('app_location_new') }}">Create new</a>
    {% endif %}
{% endblock %}
