{% extends 'base.html.twig' %}

{% block title %}Measurement index{% endblock %}

{% block body %}
    <h1>Measurements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Temperature</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for measurement in measurements %}
            <tr>
                <td>{{ measurement.id }}</td>
                <td>{{ measurement.date ? measurement.date|date('Y-m-d') : '' }}</td>
                <td>{{ measurement.temperature }} °C</td>
                <td>
                    <a href="{{ path('app_measurement_show', {'id': measurement.id}) }}">Show</a>
                    {% if is_granted('ROLE_LOCATION_EDIT') %}
                        <a href="{{ path('app_measurement_edit', {'id': measurement.id}) }}">Edit</a>
                    {% endif %}
                    {% if is_granted('ROLE_LOCATION_DELETE') %}
                        <form method="post" action="{{ path('app_measurement_delete', {'id': measurement.id}) }}" style="display:inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ measurement.id) }}">
                            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_LOCATION_NEW') %}
        <a href="{{ path('app_measurement_new') }}">Create new</a>
    {% endif %}
{% endblock %}
